body
  margin: 0
  
h1
  font-family: 'Oranienbaum', serif
  letter-spacing: 1px

h5, h3, h4
  // font: 'PT Sans', sans-serif
  font-family: 'Raleway', sans-serif


.c-home-nav
  text-align: center

.c-nav-header
  cursor: pointer

.c-header
  &__setting
    text-align: center
    font-size: 24px
  &__experience
    text-align: center
    border-top: 1px solid #E1E0E1
    padding-top: 38px
    width: 70%
    margin: 3% 15%
    font-size: 24px

// .c-setting

.c-video-outer
    padding: 0;
    max-width: initial;
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0;
    transform-style: preserve-3d;
    overflow: hidden;
    position: relative;

.c-video-inner
  height: 500px
  max-height:  500px

.c-video
  z-index: -99
  // width: 100%
  height: 100%
  // max-width: 1280px
  // position:relative
  // overflow:hidden
  &__iframe
    top: 50%
    left: 50%
    transform-style: preserve-3d
    transform: translateY(-50%) translateX(-50%)
    position: relative
    filter: grayscale(20%);

.c-content
  width: 100%
  position: absolute
  top: 20%
  margin: 0
  z-index: 5
  &__container
    margin: 0 auto
  &__form
    max-width: 27rem
    margin: 0 auto
    &__input
      margin-top: 80px
      margin-bottom: 30px
      background: rgba(255,255,255,0.3)
      padding: 10px 10px 10px 10px
      border: none
      flex: 1 0 auto
      width: 400px
      height: 25px
      caret-color: rgb(255,255,255)
      color: white
      font: 1em 'PT Sans', sans-serif

  &__btn
    max-width: 8rem    
    margin: 0 auto


.c-content__form__input::-webkit-input-placeholder 
  color: white
  font-size: 1em
.c-content__form__input:focus
  outline-width: 0

.c-content h2
    // margin-left: 100px
    margin: 0 auto
    max-width: 35rem;
    color: #FFF;
    font-size: 1.4rem;
    line-height: 1rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100


.c-settings
  padding: 0
  // margin: 0
  margin-left: 130px
  margin-right: 130px

  justify-content: space-around
  display: flex
  flex-wrap: wrap
  flex-direction: row
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  // width: 100%
  // margin: 0 100px
  &__each
    text-align: center
    // width: 33.33%
    width: 31.88%
    margin-bottom: 14px
    cursor: pointer
    position: relative
  &__imgWrapper
    // width: 33.33%
    overflow: hidden
    max-height: 220px
    height: 220px
    background: black

  &__size
    display: block
    width: 100%
    height: 100%
    position: absolute
    filter: grayscale(30%)
    -webkit-transition: all 0.5s linear
    -moz-transition: all 0.5s linear
    -ms-transition: all 0.5s linear
    -o-transition: all 0.5s linear
    transition: all 0.5s linear
  &__header
    z-index: 30
    position: absolute
    color: white
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  &__header h5
    text-transform: uppercase
    font-size: 15px
    letter-spacing: 1.2px
    text-shadow: 2px 2px 2px grey
  &__Sea
    content:url('https://trisara.com/wp-content/uploads/2017/03/Ocean-View-Pool-Villa-3.jpg')
  &__Rainforest
    content: url('https://scontent-lga3-1.cdninstagram.com/vp/4e3058adc9a8effaa4a703f83853f9cb/5B9CF50E/t51.2885-15/s640x640/sh0.08/e35/20214133_328543200930373_4247065169265426432_n.jpg')
  &__Beach
    content: url('https://www.thedatai.com/media/1058/3beach_a7a7788v3_pg56.jpg?anchor=center&mode=crop&quality=80&width=1260&height=736&rnd=131598110340000000')
  &__Mountains
    content: url('https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/18010225_1342387312467267_6859796256821547038_n.jpg?_nc_cat=0&oh=1e08897639e2f137df7fe6b782bb5086&oe=5B673F73')
  &__Urban
    content: url('http://www.langhamhotels.com/cdn-2891c7bb/globalassets/lhr/tl-hong-kong/rooms/tlhkg-rooms-penthousesuite-living-room-rendering-1680-945-large.jpg')
  &__Suburban
    content: url('https://www.georgetownheritage.com/wp-content/uploads/2017/10/7-Terraces-021-1-1024x683.jpg')
 

.c-settings__imgWrapper:hover img
  opacity: 0.7


.c-experiences
  padding: 0
  margin-left: 130px
  margin-right: 130px

  justify-content: space-around
  display: flex
  flex-wrap: wrap
  flex-direction: row
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  &__each
    text-align: center
    // width: 33.33%
    width: 31.88%
    margin-bottom: 14px
    cursor: pointer
    position: relative
  &__imgWrapper
    // width: 33.33%
    overflow: hidden
    max-height: 220px
    height: 220px
    background: black

  &__size
    display: block
    width: 100%
    height: 100%
    position: absolute
    filter: grayscale(30%)
    -webkit-transition: all 0.5s linear
    -moz-transition: all 0.5s linear
    -ms-transition: all 0.5s linear
    -o-transition: all 0.5s linear
    transition: all 0.5s linear
  &__header
    z-index: 30
    position: absolute
    color: white
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  &__header h5
    text-transform: uppercase
    font-size: 15px
    letter-spacing: 1.2px
    text-shadow: 2px 2px 2px grey
  &__Indulgence
    content: url('https://trisara.com/wp-content/uploads/2017/03/Trisara-2-Bedroom-Villa-3.jpg')
  &__Wellness
    content: url('https://www.thedatai.com/media/1090/beach-villa2_a7a3919v2_pg117.jpg?anchor=center&mode=crop&quality=80&width=1260&height=736&rnd=131598111050000000')
  &__Adventure
    content: url('https://www.thedatai.com/media/1053/2nature-wellbeing_a7a6229v3_pg78.jpg?anchor=center&mode=crop&quality=80&width=1260&height=736&rnd=131598110280000000')



.c-experiences__imgWrapper:hover img
  opacity: 0.7


// Search Page
.c-search
  &__header
    width: 100%;
    position: absolute;
    top: 50%;
    margin: 0;
    z-index: 5;
    transform-origin: initial;
    transform: translateY(-50%);
    border-width: 1px 0;
    text-align: center;
    &-title
      max-width: 40rem
      margin: 0 auto
      color: #FFF
      font-size: 1.75rem
      line-height: 3rem
      letter-spacing: 2px
      text-shadow: 3px 3px 1px grey
  &-hero
    padding: 0
    max-width: initial
    width: 100%
    border: none
    background-color: transparent
    margin: 0
    height: 16rem
    transform-style: preserve-3d
    overflow: hidden
    position: relative
    margin-bottom: 40px
    &__imgWrapper
      display: block
      position: relative
      min-height: 200px
      text-align: center
    &__article
      height: 100%
      left: 0
      right: 0
      top: 0
    &__size
      transform: translateY(-50%) translateX(-50%)
      transform-origin: initial
      backface-visibility: hidden
      transform-style: preserve-3d
      position: absolute
      top: 50%
      left: 50%
      min-width: 90rem
      max-width: 100%
      height: auto
      filter: grayscale(30%)
      content: url('https://d3e7bfg0h5jt4g.mrandmrssmith.com/images/2448x874/3247057-230040-praana3-panacea-praana-residence1-.jpg')
  &-eachResult
    border: 1px solid #EEE
    padding: 20px
    width: 60%
    margin: 0 22% 20px
    &__left
      display: inline-block
      overflow: hidden
      max-height: 270px
      height: 270px
      width: 402px
      background: black
      position: relative
      &-img
        display: block
        // width: 100%
        height: 100%
        // position: absolute
    &__right
      display: inline-block
      position: absolute
      margin-left: 55px
      h3
        font-size: 25px
      h4
        text-transform: uppercase
        font-size: 14px


.c-admin
  &-header
    margin-left: 20px
    margin-bottom: 50px
  &-main
    margin: 0 10%
  &-createBtn
    position: absolute
    left: 83%
    top: 170px

.c-adminForm
  &-main
    text-align: center
    margin: 0 25% 30px


.c-hotelInfo
  &__header
    width: 100%;
    position: absolute;
    top: 50%;
    margin: 0;
    z-index: 5;
    transform-origin: initial;
    transform: translateY(-50%);
    border-width: 1px 0;
    text-align: center;
    &-title
      max-width: 40rem
      margin: 0 auto
      color: #FFF
      font-size: 1.75rem
      line-height: 3rem
      letter-spacing: 2px
      text-shadow: 3px 3px 1px grey
  &-hero
    padding: 0
    max-width: initial
    width: 100%
    border: none
    background-color: transparent
    margin: 0
    height: 25rem
    transform-style: preserve-3d
    overflow: hidden
    position: relative
    margin-bottom: 40px
    &__imgWrapper
      display: block
      position: relative
      min-height: 550px
      text-align: center
    &__article
      height: 100%
      left: 0
      right: 0
      top: 0
    &__size
      transform: translateY(-50%) translateX(-50%)
      transform-origin: initial
      backface-visibility: hidden
      transform-style: preserve-3d
      position: absolute
      top: 50%
      left: 50%
      min-width: 90rem
      max-width: 100%
      height: auto
      filter: grayscale(30%)
  &-main
    margin: 0 20%
    font-family: 'Raleway', sans-serif
    &__top
      text-align: center
      h3
        font-size: 2.2em
        letter-spacing: 2px
        font-family: 'Raleway', sans-serif
      h5
        text-transform: uppercase
        font-family: 'Raleway', sans-serif
    p
      line-height: 1.5em
  &-middle
    margin: 0 10%
    font-family: 'Raleway', sans-serif
  &-charRight
    border: 1px solid #EEE
    padding: 20px
    width: 100%
    margin: 70px 0 65px
    &__left
      display: inline-block
      overflow: hidden
      max-height: 430px
      height: 430px
      background: black
      position: relative
      &-img
        display: block
        height: 100%
    &__right
      color: #808080
      display: inline-block
      position: absolute
      margin-left: 55px
      margin-right: 10%
  &-charLeft
    border: 1px solid #EEE
    padding: 20px
    width: 100%
    margin: 70px 0 65px
    &__left
      color: #808080
      display: inline-block
      // position: absolute
      margin-right: 10%
      width: 30%
      &-content
        position: relative;
        bottom: 255px;
        left: 25px;
    &__right
      display: inline-block
      overflow: hidden
      max-height: 430px
      height: 430px
      background: black
      position: relative
      &-img
        display: block
        height: 100%


.l-viewBtn
    background: transparent
    outline: none
    position: relative
    border: 1px solid #111
    padding: 11px 50px
    overflow: hidden
    font-size: 14px
    cursor: pointer

.l-viewBtn:hover:before
  opacity: 1
  transform: translate(0,0)

.l-viewBtn:before
  content: attr(data-hover);
  position: absolute;
  top: 1.1em; left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;

.l-viewBtn:hover div
  opacity: 0; 
  transform: translate(100%,0)

.l-viewBtn div
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  transition: all .3s ease-in-out;


.c-hotelInfo-endImg
  height: 38rem
  // margin-bottom: 0px
  margin: 0 20px 20px


@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Amiri|Arapey|Cormorant+Garamond:300|Oranienbaum|PT+Sans|Raleway|Ubuntu+Condensed')